
<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -  FindMy Natis</title>
    @*<style>
            body {
                background-image: url('../../img/BEkLRV.png');
            }

        </style>*@


    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
</head>

<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
                <!-- <a class="brand" href="#"> Leave Mangement System</a>-->
                @*<a class="brand" href="#">Leave Management System</a>*@

                <div class="nav-collapse collapse">

                    <ul class="nav">

                        <li><a class="brand">FindMy Natis</a></li>
                        @*<li>@Html.ActionLink("Home", "appForm", "App", new { empId = Session["userid"] }, null)</li>
                        <li>@Html.ActionLink("About", "AboutUs")</li>
                        <li>@Html.ActionLink("Contact ", "ContactUs")</li>*@
                        <li>@Html.ActionLink("Logout", "Login", "Login")</li>
                    </ul>

                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Powered by Naledi <img src="~/img/presentation.png" width="100" height="100" /></p>
        </footer>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>

</body>
</html>