@model NatisTracker.ViewModels.NatisDataViewModel

<!DOCTYPE html>
@{
    ViewBag.Title = "LoadNewNatis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@


<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker();
    });

    $('#Scan').dialog({
        autoOpen: false,
        height: 500,
        width: 700,
        modal: false
    });

    function OpenDialog() {

        var name = $('#Name').val();
        var address = $('#Address').val();
        $('#Dialog-Name').val(name);
        $('#Dialog-Address').val(address);
        $('#Dialog-Box').dialog('open');
    }

    function onsave() {

        $.ajax({
            url: '@Url.Action("ActionName", "ControllerName")',
            type: 'POST',
            data: {
                name: $('#Dialog-Name').val(),
                address: $('#Dialog-Address').val()
            },
            success: function (msg) {
            },
            error: function (msg) {
            }
        });

    }

</script>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Load New Natis &middot; FindMy Natis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="/resources/demos/style.css">

    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

    <!-- Le styles -->

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>


    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="icon/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="icon/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="icon/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="icon/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="icon/favicon.png">
</head>

<body>

    <h2>Welcome @Session["Name"] @Session["Surname"]</h2>
    <br /><br />

    <h3>Please Scan Natis</h3>

    <div class="tab-content">
        <div id="Scan`" class="tab-pane fade in active">
            <div class="container">
                @using (Html.BeginForm("LoadNewNatis", "Process", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    if (Model != null && Model.OwnerName != null)
                    {
                        <table>
                            <tr>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                            </tr>
                            <tr>
                                <td>@Model.vin</td>
                                <td>@Model.registrationNo</td>
                                <td>@Model.engineNo</td>
                                <td>@Model.carMake</td>
                                <td>@Model.seriesNo</td>
                                <td>@Model.description</td>
                                <td>@Model.registrationDate</td>
                                <td>@Model.OwnerName</td>
                                <td>@Model.OwnerID</td>
                                <td>@Model.natisLocation</td>
                            </tr>


                        </table>
                    }

                    else if(Model == null)
                    {
                        <h3>Incorrect file load or file already in the database, please try again</h3>
                    }
                    <br /><br />
                    @Html.TextBoxFor(model => model.file, new { type = "file", id = "File", accept = "image/*", capture = "camera" })<br>

                    <br /><br>


                    <button align="left" class="btn btn-large btn-primary" type="submit">Scan</button>
                    <p align="right">

                        @Html.ActionLink("Back to previous page", "AdminView", "Users", null, null)
                    </p>
                }


            </div>
        </div>

    </div>


</body>

</html>