@model IEnumerable<NatisTracker.Models.RequestsData>
@{
    ViewBag.Title = "RequestResponse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>RequestResponse &middot; FindMy Natis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <style type="text/css">
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .container {
            height: 100%;
            padding: 5px 5px 5px 5px;
            margin-left: 1%;
            margin-right: 1%;
            width: 98%;
        }
    </style>

</head>
<body>

    @using (Html.BeginForm("RequestResponse", "Process", FormMethod.Post))
    {
        <h3>Request Response</h3>
        <div class="container">

            <div id="ViewPackageInfo" class="tab-pane fade in">
                <div class="table-responsive table table-striped">
                    <table id="PackageTable" class="table">
                        <thead>
                            <tr>
                                <th>Requester</th>
                                <th>Requester Department</th>
                                <th>Date Requested</th>
                                <th>Contract Number</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Request in Model)
                            {
                                if (Request.RequestStatus == "Pending")
                                {
                                    <tr>
                                        <td>
                                            @Request.RequesterName
                                            @Html.Hidden("RecordNumber", Request.RecordNumber.ToString())
                                        </td>
                                        <td>@Request.RequesterDepartment</td>
                                        <td>@Request.RequestDate</td>
                                        <td>@Request.ContractNo</td>
                                        <td>
                                            @Html.DropDownList("Status", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="Reply", Value = "Pending"},
                                            new SelectListItem { Text="Accept", Value = "Accepted"},
                                            new SelectListItem { Text="Deny", Value = "Denied"},
                                        })

                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
                <br><br>
                <button class="btn btn-large btn-primary" type="submit">Submit</button>
                <p align="right">

                    @Html.ActionLink("Back to previous page", "AdminView", "Users", null, null)
                </p>

            </div>
        </div>
    }

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#PackageTable').DataTable();
        });

    </script>

</body>
</html>
