@model NatisTracker.ViewModels.AdminViewModel

<!DOCTYPE html>
@{
    ViewBag.Title = "AdminView";
    ViewBag.Contract = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin View &middot; FindMy Natis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <style type="text/css">
        ul {
            list-style-type: none;
        }

        #myTab ul {
            display: none;
        }

        #myTab li:hover > ul {
            display: block;
        }

        .container {
            height: 100%;
            padding: 5px 5px 5px 5px;
            margin-left: 1%;
            margin-right: 1%;
            width: 98%;
        }
    </style>

</head>

<body>
    <div class="container">
        <ul class="nav nav-tabs nav-pills" data-tabs="tabs" id="myTab">
            <li class="active"><a data-toggle="tab" href="#Menu">Menu</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Deliveries<span class="caret"></span></a>
                <ul class="dropdown-menu" data-toggle="tabs" id="mySubTab">
                    <li><a data-toggle="tab" href="#Courier">Sent By Courier</a></li>
                    <li><a data-toggle="tab" href="#SentDriver">Sent By Driver</a></li>
                </ul>
            </li>
            <li><a data-toggle="tab" href="#Search">Search Natis</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">View Department <span class="caret"></span></a>
                <ul class="dropdown-menu" data-tabs="tabs" id="mySubTab">
                    <li><a data-toggle="tab" href="#Maturities">Maturities</a></li>
                    <li><a data-toggle="tab" href="#Legal">Legal</a></li>
                    <li><a data-toggle="tab" href="#Call_Centre">Call Centre</a></li>
                    <li><a data-toggle="tab" href="#Operations">Operations</a></li>
                    <li><a data-toggle="tab" href="#Fleet_Services">Fleet Services</a></li>
                    <li><a data-toggle="tab" href="#Remarketing">Remarketing</a></li>
                    <li><a data-toggle="tab" href="#Origination">Contracts Originations</a></li>
                </ul>
            </li>
            <li><a data-toggle="tab" href="#logs">Tracking and Reports</a></li>
            <li><a data-toggle="tab" href="#requested">Requests</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Submit Natis<span class="caret"></span></a>
                <ul class="dropdown-menu" data-tabs="tabs">
                    <li><a data-toggle="tab" href="#SubmitNatis_Driver">To Fleet Service Driver</a></li>
                    <li><a data-toggle="tab" href="#SubmitNatis_User">To Internal User</a></li>
                </ul>
            </li>
        </ul>

        <div class="tab-content">

            <div id="Menu" class="tab-pane fade in active">

                <ul class="list-item">
                    <li class="list-group-item"> <a href="@Url.Action("LoadNewNatis", "Process")" class="btn btn-block">Scan To Safe</a></li>
                    <li class="list-group-item"> <a href="@Url.Action("RequestResponse", "Process")" class="btn btn-block">Respond to Request</a></li>
                    <li class="list-group-item"> <a href="@Url.Action("Scan_To_Collect", "Process")" class="btn btn-default btn-block">SCAN to Collect</a></li>
                </ul>


            </div>

            <div id="Courier" class="tab-pane fade in">
                <div class="table-responsive table table-striped">
                    <h3>Sent By Courier Response Table</h3>
                    <br /><br />
                    @if (Model.SentIN_Delivery != null)
                    {
                    <table id="CourierTable" class="table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>Dealership Name</th>
                                <th>Contract Numbers</th>
                                <th>Waybill Number</th>
                                <th>Item Sent</th>
                                <th>Package Sender</th>
                                <th>Date Sent</th>
                                <th>Package Recipient</th>
                                <th>Date Recieved</th>
                                <th>Delivery Status</th>
                                <th>Comment</th>
                            </tr>
                        </thead>

                        @for (int i = 0; i < Model.SentIN_Delivery.Count; i++)
                        {
                        if (Model.SentIN_Delivery[i].DeliveryChoice == "Courier")
                        {
                        <tbody>
                            <tr>
                                <td>@Model.SentIN_Delivery[i].DealershipName</td>
                                <td>
                                    @for (int j = 0; j < Model.SentIN_Delivery[i].ContractsList.Count; j++)
                                    {
                                    if (Model.SentIN_Delivery[i].ContractsList[j].RecordNumber.Equals(Model.SentIN_Delivery[i].RecordNumber))
                                    {
                                    <div class="checkbox">
                                        @if ((bool)Model.SentIN_Delivery[i].ContractsList[j].IsReceived)
                                        {
                                        @Html.CheckBox("checkbox", new { @checked = "checked", @disabled = "true" }) @Model.SentIN_Delivery[i].ContractsList[j].ContractNumber1 <br />
                                        }
                                        else
                                        {
                                        @Html.CheckBox("checkbox", new { @disabled = "true" }) @Model.SentIN_Delivery[i].ContractsList[j].ContractNumber1 <br />
                                        }
                                    </div>

                                    }
                                    }
                                </td>
                                <td>@Model.SentIN_Delivery[i].PackageNumber</td>
                                <td>@Model.SentIN_Delivery[i].Quantity</td>
                                <td>@Model.SentIN_Delivery[i].PackageSender</td>
                                <td>@Model.SentIN_Delivery[i].DateSent</td>
                                <td>@Model.SentIN_Delivery[i].PackageRecipient</td>
                                <td>@Model.SentIN_Delivery[i].DateReceived</td>
                                <td>@Model.SentIN_Delivery[i].CourierStatus</td>
                                <td>@Model.SentIN_Delivery[i].Comment</td>
                            </tr>
                        </tbody>
                        }

                        }

                    </table>
                    }

                </div>
            </div>

            <div id="SentDriver" class="tab-pane fade in">
                <div class="table-responsive table table-striped">

                    <h3>Sent By Driver Response Table</h3>
                    <br /><br />

                    @if (Model.SentIN_Delivery != null)
                    {

                    <table id="DriverTable" class="table-responsive">
                        <thead>
                            <tr>
                                <th>Dealership Name</th>
                                <th>Contract Numbers</th>
                                <th>Drivers Details</th>
                                <th>Drivers Contacts</th>
                                <th>Item Sent</th>
                                <th>Package Sender</th>
                                <th>Date Sent</th>
                                <th>Package Recipient</th>
                                <th>Date Recieved</th>
                                <th>Delivery Status</th>
                                <th>Comment</th>
                            </tr>
                        </thead>

                        @for (int i = 0; i < Model.SentIN_Delivery.Count; i++)
                        {
                        if (Model.SentIN_Delivery[i].DeliveryChoice == "Driver")
                        {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.Hidden("RecordNumber", Model.SentIN_Delivery[i].RecordNumber.ToString())
                                    @Model.SentIN_Delivery[i].DealershipName
                                </td>
                                <td>
                                    @for (int j = 0; j < Model.SentIN_Delivery[i].ContractsList.Count(); j++)
                                    {
                                    if (Model.SentIN_Delivery[i].ContractsList[j].RecordNumber.Equals(Model.SentIN_Delivery[i].RecordNumber))
                                    {
                                    <div class="checkbox">
                                        @if ((bool)Model.SentIN_Delivery[i].ContractsList[j].IsReceived)
                                        {
                                        @Html.CheckBox("checkbox", new { @checked = "checked", @disabled = "true" }) @Model.SentIN_Delivery[i].ContractsList[j].ContractNumber1 <br />
                                        }
                                        else
                                        {
                                        @Html.CheckBox("checkbox", new { @disabled = "true" }) @Model.SentIN_Delivery[i].ContractsList[j].ContractNumber1 <br />
                                        }
                                    </div>
                                    }
                                    }
                                </td>
                                <td>@Model.SentIN_Delivery[i].DriverDetails</td>
                                <td>@Model.SentIN_Delivery[i].DriverContact</td>
                                <td>@Model.SentIN_Delivery[i].Quantity</td>
                                <td>@Model.SentIN_Delivery[i].PackageSender</td>
                                <td>@Model.SentIN_Delivery[i].DateSent</td>
                                <td>@Model.SentIN_Delivery[i].PackageRecipient</td>
                                <td>@Model.SentIN_Delivery[i].DateReceived</td>
                                <td>@Model.SentIN_Delivery[i].CourierStatus</td>
                                <td>@Model.SentIN_Delivery[i].Comment</td>
                            </tr>
                        </tbody>
                        }

                        }

                    </table>
                    }

                </div>
            </div>

            <div id="Search" class="tab-pane fade in">
                <div class="table-responsive">
                    <table id="searchTable" class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Date Scanned</th>
                                <th>Contract Numbers</th>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                                <th>Contract Status</th>
                                @*<th>Status Description</th>*@
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.NatisDataList.Count; i++)
                            {
                            string contractNumber = "";
                            string contractStatus = "";
                            string statusDescription = "";

                            for (int j = 0; j < Model.NatisDataList[i].contractInformation.Count; j++)
                            {
                            if (Model.NatisDataList[i].contractInformation[j].VinNumber.Equals(Model.NatisDataList[i].vin))
                            {
                            contractNumber = Model.NatisDataList[i].contractInformation[j].ContractNumber;
                            contractStatus = Model.NatisDataList[i].contractInformation[j].ContractStatus;
                            statusDescription = Model.NatisDataList[i].contractInformation[j].StatusDescription;
                            }

                            }

                            <tr>
                                <td>@Model.NatisDataList[i].DateScanned</td>
                                <td>@contractNumber</td>
                                <td>@Model.NatisDataList[i].vin</td>
                                <td>@Model.NatisDataList[i].registrationNo</td>
                                <td>@Model.NatisDataList[i].engineNo</td>
                                <td>@Model.NatisDataList[i].carMake</td>
                                <td>@Model.NatisDataList[i].seriesNo</td>
                                <td>@Model.NatisDataList[i].description</td>
                                <td>@Model.NatisDataList[i].registrationDate</td>
                                <td>@Model.NatisDataList[i].OwnerName</td>
                                <td>@Model.NatisDataList[i].OwnerID</td>
                                <td>@Model.NatisDataList[i].natisLocation</td>
                                <td>@contractStatus</td>
                                @*<td>@statusDescription</td>*@
                            </tr>

                            }
                        </tbody>

                        <tfoot class="thead-dark">
                            <tr>
                                <th>Date Scanned</th>
                                <th>Contract Numbers</th>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                                <th>Contract Status</th>
                                @*<th>Status Description</th>*@
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div id="Maturities" class="tab-pane fade in">
                <h3>Natis In Maturities</h3><br /><br />
                @if (Model.Maturities != null)
                {
                <div class="table-responsive table table-striped">
                    <table id="MaturitiesTable" class="table">
                        <thead>
                            <tr>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.Maturities)
                        {
                        <tbody>
                            <tr>
                                <td>@item.vin</td>
                                <td>@item.registrationNo</td>
                                <td>@item.engineNo</td>
                                <td>@item.carMake</td>
                                <td>@item.seriesNo</td>
                                <td>@item.description</td>
                                <td>@item.registrationDate</td>
                                <td>@item.OwnerName</td>
                                <td>@item.OwnerID</td>
                                <td>@item.natisLocation</td>
                            </tr>
                        </tbody>
                        }
                    </table>
                </div>
                }


            </div>

            <div id="Legal" class="tab-pane fade in">
                <h3>Natis In Legal</h3><br /><br />
                @if (Model.Legal != null)
                {
                <div class="table-responsive table table-striped">
                    <table id="LegalTable" class="table">
                        <thead>
                            <tr>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.Legal)
                        {
                        <tbody>
                            <tr>
                                <td>@item.vin</td>
                                <td>@item.registrationNo</td>
                                <td>@item.engineNo</td>
                                <td>@item.carMake</td>
                                <td>@item.seriesNo</td>
                                <td>@item.description</td>
                                <td>@item.registrationDate</td>
                                <td>@item.OwnerName</td>
                                <td>@item.OwnerID</td>
                                <td>@item.natisLocation</td>
                            </tr>
                        </tbody>
                        }
                    </table>
                </div>
                }


            </div>

            <div id="Call_Centre" class="tab-pane fade in">
                <h3>Natis In Call Centre</h3><br /><br />
                @if (Model.Call_Centre != null)
                {
                <div class="table-responsive table table-striped">
                    <table id="CallCentreTable" class="table">
                        <thead>
                            <tr>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.Call_Centre)
                        {
                        <tbody>
                            <tr>
                                <td>@item.vin</td>
                                <td>@item.registrationNo</td>
                                <td>@item.engineNo</td>
                                <td>@item.carMake</td>
                                <td>@item.seriesNo</td>
                                <td>@item.description</td>
                                <td>@item.registrationDate</td>
                                <td>@item.OwnerName</td>
                                <td>@item.OwnerID</td>
                                <td>@item.natisLocation</td>
                            </tr>
                        </tbody>
                        }
                    </table>
                </div>
                }


            </div>

            <div id="Operations" class="tab-pane fade in">
                <h3>Natis In Contracts Origination</h3><br /><br />
                @if (Model.Operations != null)
                {
                <div class="table-responsive table table-striped">
                    <table id="OperationsTable" class="table">
                        <thead>
                            <tr>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.Operations)
                        {
                        <tbody>
                            <tr>
                                <td>@item.vin</td>
                                <td>@item.registrationNo</td>
                                <td>@item.engineNo</td>
                                <td>@item.carMake</td>
                                <td>@item.seriesNo</td>
                                <td>@item.description</td>
                                <td>@item.registrationDate</td>
                                <td>@item.OwnerName</td>
                                <td>@item.OwnerID</td>
                                <td>@item.natisLocation</td>
                            </tr>
                        </tbody>
                        }
                    </table>
                </div>
                }


            </div>

            <div id="Fleet_Services" class="tab-pane fade in">
                <h3>Natis With the Driver</h3><br /><br />
                @if (Model.FleetServiceDriver != null)
                {
                <div class="table-responsive table table-striped">
                    <table id="DriverTables" class="table">
                        <thead>
                            <tr>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.FleetServiceDriver)
                        {
                        <tbody>
                            <tr>
                                <td>@item.vin</td>
                                <td>@item.registrationNo</td>
                                <td>@item.engineNo</td>
                                <td>@item.carMake</td>
                                <td>@item.seriesNo</td>
                                <td>@item.description</td>
                                <td>@item.registrationDate</td>
                                <td>@item.OwnerName</td>
                                <td>@item.OwnerID</td>
                                <td>@item.natisLocation</td>
                            </tr>
                        </tbody>
                        }
                    </table>
                </div>
                }


            </div>

            <div id="Remarketing" class="tab-pane fade in">
                <h3>Natis In Remarketing</h3><br /><br />
                @if (Model.Remarketing != null)
                {
                <div class="table-responsive table table-striped">
                    <table id="RemarketingTable" class="table">
                        <thead>
                            <tr>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.Remarketing)
                        {
                        <tbody>
                            <tr>
                                <td>@item.vin</td>
                                <td>@item.registrationNo</td>
                                <td>@item.engineNo</td>
                                <td>@item.carMake</td>
                                <td>@item.seriesNo</td>
                                <td>@item.description</td>
                                <td>@item.registrationDate</td>
                                <td>@item.OwnerName</td>
                                <td>@item.OwnerID</td>
                                <td>@item.natisLocation</td>
                            </tr>
                        </tbody>
                        }
                    </table>
                </div>
                }


            </div>

            <div id="Origination" class="tab-pane fade in">
                <h3>Natis In Origination</h3><br /><br />
                @if (Model.Originations != null)
                {
                <div class="table-responsive table table-striped">
                    <table id="OriginationTable" class="table">
                        <thead>
                            <tr>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.Originations)
                        {
                        <tbody>
                            <tr>
                                <td>@item.vin</td>
                                <td>@item.registrationNo</td>
                                <td>@item.engineNo</td>
                                <td>@item.carMake</td>
                                <td>@item.seriesNo</td>
                                <td>@item.description</td>
                                <td>@item.registrationDate</td>
                                <td>@item.OwnerName</td>
                                <td>@item.OwnerID</td>
                                <td>@item.natisLocation</td>
                            </tr>
                        </tbody>
                        }
                    </table>
                </div>
                }


            </div>

            <div id="logs" class="tab-pane fade in">
                <br />
                <div class="col-md-2">
                    <button id="All_LogsBtn" class="btn btn-large btn-primary" type="submit">View All</button>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Contract Number", new { @class = "col-md-3 control-label" })
                        <div class="col-md-8" id="contractTxtBox">
                            @Html.TextBox("a", "", new { @id = "contract" })@*input-validation-error*@

                            <button id="Contract_LogBtn" class="btn btn-large btn-primary" style="margin-left:5px" type="submit">Show Results</button>
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Select Department", new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.DropDownList("b", new List<SelectListItem>
                            {
                            new SelectListItem { Text="Maturities", Value = "Maturities"},
                            new SelectListItem { Text="Legal", Value = "Legal"},
                            new SelectListItem { Text="Call Centre", Value = "Call Centre"},
                            new SelectListItem { Text="Operations", Value = "Operation"},
                            new SelectListItem { Text="Fleet Services", Value = "Fleet Services"},
                            new SelectListItem { Text="Remarketing", Value = "Remarketing"},
                            new SelectListItem { Text="Contracts Originations", Value = "Origination"},
                            }, "---Select one---", new { @id="departmentDroplist"})

                            <button id="DepartmentLogsBtn" class="btn btn-large btn-primary" style="margin-left:5px" type="submit">Show Results</button>
                        </div>
                    </div>
                   
                </div>

                <div id="All_Logs" hidden>

                    @if (Model.NatisDataList != null)
                    {
                        <div class="table-responsive table table-striped">
                            <table id="allLogsTbl" class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Date Scanned</th>
                                        <th>Contract Numbers</th>
                                        <th>VIN Number</th>
                                        <th>Scanned By</th>
                                        @*<th>Registration Number</th>
                                        <th>Engine Number</th>
                                        <th>Car Make</th>
                                        <th>Series Number</th>
                                        <th>Description</th>
                                        <th>Registration Date</th>
                                        <th>Owner name</th>
                                        <th>Owner ID</th>*@
                                        <th>Natis Location</th>
                                        <th>Contract Status</th>
                                        @*<th>Status Description</th>*@
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (int i = 0; i < Model.NatisDataList.Count; i++)
                                    {
                                        string contractNumber = "";
                                        string contractStatus = "";
                                        //string statusDescription = "";

                                        for (int j = 0; j < Model.NatisDataList[i].contractInformation.Count; j++)
                                        {
                                            if (Model.NatisDataList[i].contractInformation[j].VinNumber.Equals(Model.NatisDataList[i].vin))
                                            {
                                                contractNumber = Model.NatisDataList[i].contractInformation[j].ContractNumber;
                                                contractStatus = Model.NatisDataList[i].contractInformation[j].ContractStatus;
                                                //statusDescription = Model.NatisDataList[i].contractInformation[j].StatusDescription;
                                            }

                                        }

                                        <tr>
                                            <td>@Model.NatisDataList[i].DateScanned</td>
                                            <td>@contractNumber</td>
                                            <td>@Model.NatisDataList[i].vin</td>
                                            <td>@Model.NatisDataList[i].ScanningUser</td>
                                            @*<td>@Model.NatisDataList[i].registrationNo</td>
                                            <td>@Model.NatisDataList[i].engineNo</td>
                                            <td>@Model.NatisDataList[i].carMake</td>
                                            <td>@Model.NatisDataList[i].seriesNo</td>
                                            <td>@Model.NatisDataList[i].description</td>
                                            <td>@Model.NatisDataList[i].registrationDate</td>
                                            <td>@Model.NatisDataList[i].OwnerName</td>
                                            <td>@Model.NatisDataList[i].OwnerID</td>*@
                                            <td>@Model.NatisDataList[i].natisLocation</td>
                                            <td>@contractStatus</td>
                                            @*<td>@statusDescription</td>*@
                                        </tr>

                                    }
                                </tbody>

                                <tfoot class="thead-dark">
                                    <tr>
                                        <th>Date Scanned</th>
                                        <th>Contract Numbers</th>
                                        <th>VIN Number</th>
                                        <th>Scanned By</th>
                                        @*<th>Registration Number</th>
                                        <th>Engine Number</th>
                                        <th>Car Make</th>
                                        <th>Series Number</th>
                                        <th>Description</th>
                                        <th>Registration Date</th>
                                        <th>Owner name</th>
                                        <th>Owner ID</th>*@
                                        <th>Natis Location</th>
                                        <th>Contract Status</th>
                                        @*<th>Status Description</th>*@
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    }

                    @using (Html.BeginForm("GenerateAuditReports", "Process", FormMethod.Post, new { @class = "col-md-2", target = "_blank" }))
                    {
                    <button class="btn btn-large btn-primary" type="submit">Export to Excel</button>
                    }
                </div>

                <div id="Contract_Log" hidden>

                    @if (Model.ScanLogsList != null)
                    {
                        <div class="table-responsive table table-striped">
                            <table id="ContractTbl" class="table">
                                <thead>
                                    <tr>
                                        <th>Contract Number</th>
                                        <th>VIN Number</th>
                                        <th>Date Scanned</th>
                                        <th>Scanned By</th>
                                        <th>Natis Location</th>
                                        <th>Contract Status</th>
                                        <th>Contract Description</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ScanLogsList)
                                    {

                                        <tr>
                                            <td>@item.ContractNumber</td>
                                            <td>@item.VinNumber</td>
                                            <td>@item.DateScanned</td>
                                            <td>@item.User</td>
                                            <td>@item.Department</td>
                                            <td>@item.ContractStatus</td>
                                            <td>@item.ContractDescription</td>
                                            <td>@item.Comment</td>
                                        </tr>

                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Contract Number</th>
                                        <th>VIN Number</th>
                                        <th>Date Scanned</th>
                                        <th>Scanned By</th>
                                        <th>Natis Location</th>
                                        <th>Contract Status</th>
                                        <th>Contract Description</th>
                                        <th>Comment</th>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    }

                    @using (Html.BeginForm("GenerateOneReports", "Process", FormMethod.Post, new { @class = "col-md-4", target = "_blank" }))
                    {
                        @Html.Hidden("hidden", "", new { @id = "hiddenCon" })
                        <button class="btn btn-large btn-primary" style="margin-left:5px" type="submit">Export to Excel</button>
                    }
                </div>

                <div id="DepartmentLogs" hidden>

                    @if (Model.NatisDataList != null)
                    {
                        <div class="table-responsive table table-striped">
                            <table id="DeptTbl" class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Date Scanned</th>
                                        <th>Contract Numbers</th>
                                        <th>VIN Number</th>
                                        <th>Scanned By</th>
                                        @*<th>Registration Number</th>
                    <th>Engine Number</th>
                    <th>Car Make</th>
                    <th>Series Number</th>
                    <th>Description</th>
                    <th>Registration Date</th>
                    <th>Owner name</th>
                    <th>Owner ID</th>*@
                                        <th>Natis Location</th>
                                        <th>Contract Status</th>
                                        @*<th>Status Description</th>*@
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (int i = 0; i < Model.NatisDataList.Count; i++)
                                    {
                                        string contractNumber = "";
                                        string contractStatus = "";
                                        //string statusDescription = "";

                                        for (int j = 0; j < Model.NatisDataList[i].contractInformation.Count; j++)
                                        {
                                            if (Model.NatisDataList[i].contractInformation[j].VinNumber.Equals(Model.NatisDataList[i].vin))
                                            {
                                                contractNumber = Model.NatisDataList[i].contractInformation[j].ContractNumber;
                                                contractStatus = Model.NatisDataList[i].contractInformation[j].ContractStatus;
                                                //statusDescription = Model.NatisDataList[i].contractInformation[j].StatusDescription;
                                            }

                                        }

                                        <tr>
                                            <td>@Model.NatisDataList[i].DateScanned</td>
                                            <td>@contractNumber</td>
                                            <td>@Model.NatisDataList[i].vin</td>
                                            <td>@Model.NatisDataList[i].ScanningUser</td>
                                            @*<td>@Model.NatisDataList[i].registrationNo</td>
                        <td>@Model.NatisDataList[i].engineNo</td>
                        <td>@Model.NatisDataList[i].carMake</td>
                        <td>@Model.NatisDataList[i].seriesNo</td>
                        <td>@Model.NatisDataList[i].description</td>
                        <td>@Model.NatisDataList[i].registrationDate</td>
                        <td>@Model.NatisDataList[i].OwnerName</td>
                        <td>@Model.NatisDataList[i].OwnerID</td>*@
                                            <td>@Model.NatisDataList[i].natisLocation</td>
                                            <td>@contractStatus</td>
                                            @*<td>@statusDescription</td>*@
                                        </tr>

                                    }
                                </tbody>

                                <tfoot class="thead-dark">
                                    <tr>
                                        <th>Date Scanned</th>
                                        <th>Contract Numbers</th>
                                        <th>VIN Number</th>
                                        <th>Scanned By</th>
                                        @*<th>Registration Number</th>
                    <th>Engine Number</th>
                    <th>Car Make</th>
                    <th>Series Number</th>
                    <th>Description</th>
                    <th>Registration Date</th>
                    <th>Owner name</th>
                    <th>Owner ID</th>*@
                                        <th>Natis Location</th>
                                        <th>Contract Status</th>
                                        @*<th>Status Description</th>*@
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    }

                    @using (Html.BeginForm("GenerateDepartmentReports", "Process", FormMethod.Post, new { @class = "col-md-6", target = "_blank" }))
                    {
                        @Html.Hidden("HiddenDepartment", "", new { @id = "hiddenDept" })
                        <button id="DepartmentLogsBtn" class="btn btn-large btn-primary" style="margin-left:5px" type="submit">Export to Excel</button>
                    }
                </div>

            </div>

            <div id="requested" class="tab-pane fade in">
                <h3>Approved Requests</h3><br /><br />
                @if (Model.RequestsList != null)
                {
                <div class="table-responsive table table-striped">
                    <table id="RequestsTable" class="table">
                        <thead>
                            <tr>
                                <th>Requester Name</th>
                                <th>Request Status</th>
                                <th>Request Date</th>
                                <th>Contract Number</th>
                                <th>Reply Date</th>
                                <th>Responder Name</th>
                            </tr>
                        </thead>
                        @if (Model.RequestsList != null)
                        {
                        <tbody>
                            @foreach (var Requests in Model.RequestsList)
                            {

                            <tr>
                                <td>@Requests.RequesterName</td>
                                <td>@Requests.RequestStatus</td>
                                <td>@Requests.RequestDate </td>
                                <td>@Requests.ContractNo</td>
                                <td>@Requests.ReplyDate</td>
                                <td>@Requests.Responder</td>
                            </tr>

                            }
                        </tbody>
                        }
                    </table>
                </div>

                }


            </div>

            <div id="SubmitNatis_User" class="tab-pane fade in">
                @using (Html.BeginForm("AdminView", "Users", FormMethod.Post))
                {
                    if (Model.SendToUserView != null)
                    {
                        @Html.HiddenFor(a => a.SendToUserView.ContractNumber, new { @id="UserId"})
                        <fieldset>
                            <br /><br />
                            <div class="form-group">
                                @Html.LabelFor(a => a.SendToUserView.Quantity, "Item Quantity", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(a => a.SendToUserView.Quantity, new SelectList(Model.SendToUserView.QuantityList, ""), "Select", new { @id = "UserQuantity" })
                                </div>
                            </div>
                            <br />

                            <div class="form-group">
                                @Html.LabelFor(a => a.SendToUserView.RecipientName, "Recipient Name", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(a => a.SendToUserView.RecipientName, new SelectList(Model.SendToUserView.PeopleList, ""), "Select")
                                </div>
                            </div>
                            <br />

                            <div class="form-group">
                                @Html.LabelFor(a => a.SendToUserView.Comment, "Comment", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(a => a.SendToUserView.Comment)
                                </div>
                            </div>

                            <button class="btn btn-large btn-primary" id="Userbtn" type="submit">Send</button>
                        </fieldset>
                    }
                }
            </div>

            <div id="SubmitNatis_Driver" class="tab-pane fade in">
                @using (Html.BeginForm("AdminView", "Users", FormMethod.Post))
                {
                    if (Model.DriverViewModel != null)
                    {
                        @Html.HiddenFor(a => a.DriverViewModel.ContractNumber, new { @id="driverId"})
                        <fieldset>
                            <br /><br />
                            <div class="form-group">
                                @Html.LabelFor(a => a.DriverViewModel.Quantity, "Item Quantity", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(a => a.DriverViewModel.Quantity, new SelectList(Model.DriverViewModel.QuantityList, ""), "Select", new { @id = "DriverQuantity" })
                                </div>
                            </div>
                            <br />

                            <div class="form-group">
                                @Html.LabelFor(a => a.DriverViewModel.Comment, "Comment", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(a => a.DriverViewModel.Comment)
                                </div>
                            </div>

                            <button class="btn btn-large btn-primary" id="Driverbtn" type="submit">Send</button>
                        </fieldset>
                    }
                }
            </div>

        </div>
    </div>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#searchTable').DataTable();
            $('#LogTable').DataTable();
            $('#CourierTable').DataTable();
            $('#DriverTable').DataTable();
            $('#DriverTables').DataTable();
            $('#MaturitiesTable').DataTable();
            $('#LegalTable').DataTable();
            $('#CallCentreTable').DataTable();
            $('#LicensingTable').DataTable();
            $('#OperationsTable').DataTable();
            $('#DriverTable').DataTable();
            $('#RemarketingTable').DataTable();
            $('#OriginationTable').DataTable();
            $('#RequestsTable').DataTable();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#All_LogsBtn").click(function () {
                $('#allLogsTbl').DataTable();

                var x = document.getElementById("All_Logs").style.display = "block";
                document.getElementById("Contract_Log").style.display = "none";
                document.getElementById("DepartmentLogs").style.display = "none";
            });

            $("#Contract_LogBtn").click(function () {
                var Datatable = $('#ContractTbl').DataTable();
                var con = $("#contract").val();
                $("#hiddenCon").val(con);

                //debugger;
                if (con.length == 6) {
                    Datatable.columns(0).search(con).draw();

                    document.getElementById("Contract_Log").style.display = "block";

                    document.getElementById("DepartmentLogs").style.display = "none";
                    document.getElementById("All_Logs").style.display = "none";
                }
                else {
                    document.getElementById("contractTxtBox").className = "col-md-4 has-success";
                }
                
            });

            $("#DepartmentLogsBtn").click(function () {
                var Datatable = $("#DeptTbl").DataTable();
                var dept = $('#departmentDroplist').val();
                $("#hiddenDept").val(dept);
                Datatable
                        .columns(4)
                        .search(dept)
                        .draw();

                var x = document.getElementById("DepartmentLogs");
                //if (x.style.display == "none") {
                    x.style.display = "block";
                //}
                //else {
                   // x.style.display = "none";
                //}
                    document.getElementById("Contract_Log").style.display = "none";
                    document.getElementById("All_Logs").style.display = "none";
            });

        });
    </script>

    
    <script type="text/javascript">
            $(function () {
                $("#Driverbtn").click(function () {

                    var contracts = "";
                    var q = $("#DriverQuantity").val();
                    for (var i = 1; i <= q; i++) {
                        //debugger;
                        var con = prompt("Please enter Proposal Number " + i + " of " + q, "");
                        var length = con.length;
                        var IsNotNumber = isNaN(con);

                        //while invalid entry
                        while (length < 6 || IsNotNumber) {
                            alert("Proposal Number "+i+" of "+q+" is Incorrect, Please try again");
                            con = prompt("Please enter Proposal Number " + i + " of " + q, "");
                            length = con.length;
                            IsNotNumber = isNaN(con);
                        }
                        contracts = contracts + con + " ";
                    }

                    $("#driverId").val(contracts);

                });

                $("#Userbtn").click(function () {

                    var contracts = "";
                    var q = $("#UserQuantity").val();
                    for (var i = 1; i <= q; i++) {
                        //debugger;
                        var con = prompt("Please enter Proposal Number " + i + " of " + q, "");
                        var length = con.length;
                        var IsNotNumber = isNaN(con);

                        //while invalid entry
                        while (length < 6 || IsNotNumber) {
                            alert("Proposal Number " + i + " of " + q + " is Incorrect, Please try again");
                            con = prompt("Please enter Proposal Number " + i + " of " + q, "");
                            length = con.length;
                            IsNotNumber = isNaN(con);
                        }
                        contracts = contracts + con + " ";
                    }

                    $("#UserId").val(contracts);

                });
            });
    </script>


</body>

</html>