@model NatisTracker.ViewModels.DriverPackage

<!DOCTYPE html>
@{
    ViewBag.Title = "DriverView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User View &middot; FindMy Natis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <style type="text/css">
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .container {
            height: 100%;
            padding: 5px 5px 5px 5px;
            margin-left: 1%;
            margin-right: 1%;
            width: 98%;
        }
    </style>

</head>

<body>

    @using (Html.BeginForm("DriverView", "Users", FormMethod.Post))
    {
        <fieldset>
            <div class="table-responsive table table-striped">

                <br /><br />
                @if (Model != null)
                {
                    <table class="table-responsive">
                        <thead>
                            <tr>
                                <th>Sent By</th>
                                <th>Sent Date</th>
                                <th>Item Quantity</th>
                                <th>Contract Numbers</th>
                                <th>Accept</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.PackageItems.Count; i++)
                            {
                                var delivery = Model.PackageItems[i];
                                <tr>
                                    <td>@delivery.SentBy</td>
                                    <td>@delivery.SentDate</td>
                                    <td>@delivery.ItemQuantity</td>
                                    <td>
                                        @for (int j = 0; j < Model.PackageItems[i].ContractNumbers.Count; j++)
                                        {
                                            @Html.HiddenFor(a => Model.PackageItems[i].DriverId)
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(a => Model.PackageItems[i].ContractNumbers[j].IsReceived)
                                                @Model.PackageItems[i].ContractNumbers[j].ContractNumber<br />
                                                @Html.HiddenFor(a => Model.PackageItems[i].ContractNumbers[j].ContractNumber)
                                                @Html.HiddenFor(a => Model.PackageItems[i].ContractNumbers[j].DriverId)
                                            </div>
                                        }
                                    </td>

                                    <td>
                                        @Html.DropDownListFor(a => a.PackageItems[i].Confirmation, new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text="Reply", Value = "Transit"},
                                                    new SelectListItem { Text="Accept", Value = "Accepted"},
                                                    new SelectListItem { Text="Deny", Value = "Denied"},
                                                })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    
                }

                <div class="checkbox">
                    @Html.CheckBoxFor(a => Model.IsConfirmed)
                    @Html.HiddenFor(a => Model.IsConfirmed)
                    @Html.HiddenFor(a => Model.PackageId)

                    <p>I confirm that I have received the above checked natis documents</p>
                </div>
                
            </div>
            
            @*<label class="checkbox">
                <input type="checkbox" value=""> Remember me
            </label>*@
            
            <button class="btn btn-large btn-primary" type="submit">Send</button>
        </fieldset>
    }
</body>
</html>
