@model NatisTracker.ViewModels.EndUserViewModel

<!DOCTYPE html>
@{
    ViewBag.Title = "UserView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User View &middot; FindMy Natis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <style type="text/css">
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .container {
            height: 100%;
            padding: 5px 5px 5px 5px;
            margin-left: 1%;
            margin-right: 1%;
            width: 98%;
        }
    </style>
</head>

<body>

    <ul class="nav nav-tabs nav-pills" data-tabs="tabs" id="myTab">
        <li class="active"><a data-toggle="tab" href="#Menu">Menu</a></li>
        <li><a data-toggle="tab" href="#ViewRequests">View Requests</a></li>
        <li><a data-toggle="tab" href="#Search">Search Natis</a></li>
        <li><a data-toggle="tab" href="#SendToCustomer">Send To Customer</a></li>
    </ul>

    <div class="tab-content">

        <div id="Menu" class="tab-pane fade in active">
            <div class="container">
                <ul class="list-item">
                    <li class="list-group-item"> <a href="@Url.Action("RequestNatis", "Process")" class="btn btn-default btn-block">Send Request</a></li>
                    <li class="list-group-item"> <a href="@Url.Action("TickToCollect", "Process")" class="btn btn-default btn-block">Collect Natis Documents</a></li>
                </ul>

            </div>
        </div>

        <div id="ViewRequests" class="tab-pane fade in">
            <div class="container">
                <div class="table-responsive table table-striped">
                    <table id="RequestsTable" class="table">
                        <thead>
                            <tr>
                                <th>Request Status</th>
                                <th>Request Date</th>
                                <th>Contract Number</th>
                                <th>Reply Date</th>
                                <th>Responder Name</th>
                                <th>Collection Date</th>
                            </tr>
                        </thead>
                        @if (Model.RequestsList != null)
                        {
                            foreach (var Requests in Model.RequestsList)
                            {
                        <tbody>
                            <tr>
                                <td>@Requests.RequestStatus</td>
                                <td>@Requests.RequestDate </td>
                                <td>@Requests.ContractNo</td>
                                <td>@Requests.ReplyDate</td>
                                <td>@Requests.Responder</td>
                                <td>@Requests.CollectionDate</td>
                            </tr>
                        </tbody>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

        <div id="Search" class="tab-pane fade in">
            <div class="container">
                @using (Html.BeginForm("UserView", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    if (Model.NatisDataList != null)
                    {
                <div class="table-responsive table table-striped">
                    <table id="searchTable" class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Date Scanned</th>
                                <th>Contract Numbers</th>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                                <th>Contract Status</th>
                                <th>Status Description</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.NatisDataList.Count; i++)
                                    {
                                        string contractNumber = "";
                                        string contractStatus = "";
                                        string statusDescription = "";

                                        for (int j = 0; j < Model.NatisDataList[i].contractInformation.Count; j++)
                                        {
                                            if (Model.NatisDataList[i].vin.Equals(Model.NatisDataList[i].contractInformation[j].VinNumber))
                                            {
                                                contractNumber = Model.NatisDataList[i].contractInformation[j].ContractNumber;
                                                contractStatus = Model.NatisDataList[i].contractInformation[j].ContractStatus;
                                                statusDescription = Model.NatisDataList[i].contractInformation[j].StatusDescription;
                                            }

                                        }

                            <tr>
                                <td>@Model.NatisDataList[i].DateScanned</td>
                                <td>@contractNumber</td>
                                <td>@Model.NatisDataList[i].vin</td>
                                <td>@Model.NatisDataList[i].registrationNo</td>
                                <td>@Model.NatisDataList[i].engineNo</td>
                                <td>@Model.NatisDataList[i].carMake</td>
                                <td>@Model.NatisDataList[i].seriesNo</td>
                                <td>@Model.NatisDataList[i].description</td>
                                <td>@Model.NatisDataList[i].registrationDate</td>
                                <td>@Model.NatisDataList[i].OwnerName</td>
                                <td>@Model.NatisDataList[i].OwnerID</td>
                                <td>@Model.NatisDataList[i].natisLocation</td>
                                <td>@contractStatus</td>
                                <td>@statusDescription</td>
                            </tr>

                                    }
                        </tbody>

                        <tfoot class="thead-dark">
                            <tr>
                                <th>Date Scanned</th>
                                <th>Contract Numbers</th>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                                <th>Contract Status</th>
                                <th>Status Description</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                    }
                }
            </div>
        </div>

        <div id="SendToCustomer" class="tab-pane fade in">

            @using (Html.BeginForm("UserView", "Users", FormMethod.Post))
            {
            <fieldset>

                <div class="form-group">

                    @Html.LabelFor(a => a.viewModel.DeliveryChoice, "Delivery Choice", new { @class = "col-md-2 control-label" })
                    <div class="col-md-2">
                        @using (Html.BeginForm("DealershipView", "Users", FormMethod.Post))
                            {
                            @Html.DropDownListFor(a => a.viewModel.DeliveryChoice, new List<SelectListItem>
                                {
                                new SelectListItem { Text="Courier Company", Value = "Courier"},
                                new SelectListItem { Text="Physical Driver", Value = "Driver"},
                                },"---Select one---", new {onchange = "this.form.submit()" })
                            }

                    </div>
                </div>

                <br /><br />

                @if (Model.viewModel.DeliveryChoice != null && Model.viewModel.DeliveryChoice.Equals("Courier"))
                    {
                        <div class="form-group">
                            @Html.LabelFor(a => a.viewModel.WaybillNumber, "Waybill Number", new { @class = "col-md-2 control-label" })
                            <div class="col-md-2">
                                @Html.TextBoxFor(a => a.viewModel.WaybillNumber)
                            </div>
                        </div>
                        <br /><br />
                    }

                else if (Model.viewModel.DeliveryChoice != null && Model.viewModel.DeliveryChoice.Equals("Driver"))
                    {
                        <div class="form-group">
                            @Html.LabelFor(a => a.viewModel.DriverDetails, "Driver Details", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(a => a.viewModel.DriverDetails)
                            </div>
                        </div>
                        <br /><br />

                        <div class="form-group">
                            @Html.LabelFor(a => a.viewModel.DriverContacts, "Driver Contacts", new { @class = "col-md-2 control-label" })
                            <div class="col-md-2">
                                @Html.TextBoxFor(a => a.viewModel.DriverContacts)
                            </div>
                        </div>
                        <br /><br />
                    }

                <div class="form-group">
                    @Html.LabelFor(a => a.viewModel.ContractStrings, "Enter Contract Number", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(a => a.viewModel.ContractStrings)
                    </div>
                </div>

                <br /><br />

                <div class="form-group">
                    @Html.LabelFor(a => a.viewModel.Comment, "Comment", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(a => a.viewModel.Comment)
                    </div>
                </div>

                <br /><br />

                <button class="btn btn-large btn-primary" id="btnSubmit" type="submit" style="text-align:left">Send</button>


            </fieldset>


            }


        </div>

    </div>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    @*<script type="text/javascript">
        $(function () {           
            $("#btnSubmit2").click(function () {
                
                var contracts = "";
                var q = $("#Quantity2").val();
                for (var i = 1; i <= q; i++) {
                    
                    var con = prompt("Please enter Proposal Number " + i + " of " + q, "");
                    var length = con.length;
                    var IsNotNumber = isNaN(con);

                    //while invalid entry
                    while (length < 6 || IsNotNumber) {
                        alert("Proposal Number " + i + " of " + q + " is Incorrect, Please try again");
                        con = prompt("Please enter Proposal Number " + i + " of " + q, "");
                        length = con.length;
                        IsNotNumber = isNaN(con);
                    }
                    contracts = contracts + con + " ";
                }

                $("#@Html.IdFor(model => model.DriverViewModel.ContractNumber)").val(contracts);

            });

           
        });
    </script>*@


    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#searchTable').DataTable();
            $('#RequestsTable').DataTable();
            $('#DriverTable').DataTable();  
        });

    </script>

</body>

</html>