@model NatisTracker.ViewModels.MasterViewModel

<!DOCTYPE html>
@{
    ViewBag.Title = "UserView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User View &middot; FindMy Natis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <style type="text/css">
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .container {
            height: 100%;
            padding: 5px 5px 5px 5px;
            margin-left: 1%;
            margin-right: 1%;
            width: 98%;
        }
    </style></head>

<body>

    <ul class="nav nav-tabs nav-pills" data-tabs="tabs" id="myTab">
        <li class="active"><a data-toggle="tab" href="#Menu">Menu</a></li>
        <li><a data-toggle="tab" href="#ViewRequests">View Requests</a></li>
        <li><a data-toggle="tab" href="#Search">Search Natis</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">View Department<span class="caret"></span></a>
            <ul class="dropdown-menu" data-tabs="tabs" id="mySubTab">
                <li><a data-toggle="tab" href="#Maturities">Maturities</a></li>
                <li><a data-toggle="tab" href="#Legal">Legal</a></li>
                <li><a data-toggle="tab" href="#Call_Centre">Call Centre</a></li>
                <li><a data-toggle="tab" href="#Licensing">Fines & Licensing</a></li>
                <li><a data-toggle="tab" href="#Operations">Operations</a></li>
                <li><a data-toggle="tab" href="#Driver">Driver</a></li>
                <li><a data-toggle="tab" href="#Remarketing">Remarketing</a></li>
                <li><a data-toggle="tab" href="#Origination">Contracts Originations</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Send Natis<span class="caret"></span></a>
            <ul class="dropdown-menu" data-tabs="tabs" id="SendingOption">
                <li><a data-toggle="tab" href="#SendToDriver">To Driver</a></li>
                <li><a data-toggle="tab" href="#SendToCustomer">To Customer</a></li>
            </ul>
        </li>
        <li><a data-toggle="tab" href="#ReceiveNatis">Receive Natis</a></li>
    </ul>

    <div class="tab-content">

        <div id="Menu" class="tab-pane fade in active">
            <div class="container">
                <ul class="list-item">
                    <li class="list-group-item"> <a href="@Url.Action("RequestNatis", "Process")" class="btn btn-default btn-block">Send Request</a></li>
                    <li class="list-group-item"> <a href="@Url.Action("Scan_To_Collect", "Process")" class="btn btn-default btn-block">SCAN to Collect</a></li>
                </ul>

            </div>
        </div>

        <div id="ViewRequests" class="tab-pane fade in">
            <div class="container">
                <div class="table-responsive table table-striped">
                    <table id="RequestsTable" class="table">
                        <thead>
                            <tr>
                                <th>Request Status</th>
                                <th>Request Date</th>
                                <th>Contract Number</th>
                                <th>Reply Date</th>
                                <th>Responder Name</th>
                            </tr>
                        </thead>
                        @if (Model.RequestViewModel != null)
                        {
                            foreach (var Requests in Model.RequestViewModel)
                            {
                        <tbody>
                            <tr>
                                <td>@Requests.RequestStatus</td>
                                <td>@Requests.RequestDate </td>
                                <td>@Requests.ContractNo</td>
                                <td>@Requests.ReplyDate</td>
                                <td>@Requests.Responder</td>
                            </tr>
                        </tbody>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

        <div id="Search" class="tab-pane fade in">
            <div class="container">
                @using (Html.BeginForm("UserView", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    if (Model.natisDataViewModel != null)
                    {
                <div class="table-responsive table table-striped">
                    <table id="searchTable" class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Date Scanned</th>
                                <th>Contract Numbers</th>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                                <th>Contract Status</th>
                                <th>Status Description</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.natisDataViewModel)
                                    {
                                        string contractNumber = "";
                                        string contractStatus = "";
                                        string statusDescription = "";

                                        for (int i = 0; i < Model.contractData.Count(); i++)
                                        {
                                            if (Model.contractData[i].VinNumber.Equals(item.VinNumber))
                                            {
                                                contractNumber = Model.contractData[i].ContractNumber;
                                                contractStatus = Model.contractData[i].ContractStatus;
                                                statusDescription = Model.contractData[i].StatusDescription;
                                            }

                                        }

                                    <tr>
                                        <td>@item.DateLoaded</td>
                                        <td>@contractNumber</td>
                                        <td>@item.VinNumber</td>
                                        <td>@item.RegistrationNumber</td>
                                        <td>@item.EngineNumber</td>
                                        <td>@item.CarMake</td>
                                        <td>@item.SeriesNumber</td>
                                        <td>@item.Description</td>
                                        <td>@item.RegistrationDate</td>
                                        <td>@item.OwnerName</td>
                                        <td>@item.OwnerIdentityNumber</td>
                                        <td>@item.NatisLocation</td>
                                        <td>@contractStatus</td>
                                        <td>@statusDescription</td>
                                    </tr>

                                    }
                        </tbody>

                        <tfoot class="thead-dark">
                            <tr>
                                <th>Date Scanned</th>
                                <th>Contract Numbers</th>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                                <th>Contract Status</th>
                                <th>Status Description</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                    }
                }
            </div>
        </div>

        <div id="Maturities" class="tab-pane fade in">
            <div class="container">
                @if (Model.maturitiesViewModel != null)
                {
                <div class="table-responsive table table-striped">
                    <table id="MaturitiesTable" class="table">
                        <thead>
                            <tr>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.maturitiesViewModel)
                            {
                            <tbody>
                                <tr>
                                    <td>@item.VinNumber</td>
                                    <td>@item.RegistrationNumber</td>
                                    <td>@item.EngineNumber</td>
                                    <td>@item.CarMake</td>
                                    <td>@item.SeriesNumber</td>
                                    <td>@item.Description</td>
                                    <td>@item.RegistrationDate</td>
                                    <td>@item.OwnerName</td>
                                    <td>@item.OwnerIdentityNumber</td>
                                    <td>@item.NatisLocation</td>
                                </tr>
                            </tbody>
                            }
                    </table>
                </div>
                }

            </div>
        </div>

        <div id="Legal" class="tab-pane fade in">
            <div class="container">

                @if (Model.legalViewModel != null)
                {
                <div class="table-responsive table table-striped">
                    <table id="LegalTable" class="table">
                        <thead>
                            <tr>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.legalViewModel)
                            {
                            <tbody>
                                <tr>
                                    <td>@item.VinNumber</td>
                                    <td>@item.RegistrationNumber</td>
                                    <td>@item.EngineNumber</td>
                                    <td>@item.CarMake</td>
                                    <td>@item.SeriesNumber</td>
                                    <td>@item.Description</td>
                                    <td>@item.RegistrationDate</td>
                                    <td>@item.OwnerName</td>
                                    <td>@item.OwnerIdentityNumber</td>
                                    <td>@item.NatisLocation</td>
                                </tr>
                            </tbody>
                            }
                    </table>
                </div>
                }

            </div>
        </div>

        <div id="Call_Centre" class="tab-pane fade in">
            <div class="container">
                @if (Model.callCentreViewModel != null)
                {
                <div class="table-responsive table table-striped">
                    <table id="CallCentreTable" class="table">
                        <thead>
                            <tr>
                                <th>VIN Number</th>
                                <th>Registration Number</th>
                                <th>Engine Number</th>
                                <th>Car Make</th>
                                <th>Series Number</th>
                                <th>Description</th>
                                <th>Registration Date</th>
                                <th>Owner name</th>
                                <th>Owner ID</th>
                                <th>Natis Location</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.callCentreViewModel)
                            {
                            <tbody>
                                <tr>

                                    <td>@item.VinNumber</td>
                                    <td>@item.RegistrationNumber</td>
                                    <td>@item.EngineNumber</td>
                                    <td>@item.CarMake</td>
                                    <td>@item.SeriesNumber</td>
                                    <td>@item.Description</td>
                                    <td>@item.RegistrationDate</td>
                                    <td>@item.OwnerName</td>
                                    <td>@item.OwnerIdentityNumber</td>
                                    <td>@item.NatisLocation</td>
                                </tr>
                            </tbody>
                            }
                    </table>
                </div>
                }

            </div>
        </div>

        <div id="Licensing" class="tab-pane fade in">
            <h3>Natis In Call Centre</h3><br /><br />
            @if (Model.LicensingViewModel != null)
            {
            <div class="table-responsive table table-striped">
                <table id="LicensingTable" class="table">
                    <thead>
                        <tr>
                            <th>VIN Number</th>
                            <th>Registration Number</th>
                            <th>Engine Number</th>
                            <th>Car Make</th>
                            <th>Series Number</th>
                            <th>Description</th>
                            <th>Registration Date</th>
                            <th>Owner name</th>
                            <th>Owner ID</th>
                            <th>Natis Location</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.LicensingViewModel)
                        {
                        <tbody>
                            <tr>
                                <td>@item.VinNumber</td>
                                <td>@item.RegistrationNumber</td>
                                <td>@item.EngineNumber</td>
                                <td>@item.CarMake</td>
                                <td>@item.SeriesNumber</td>
                                <td>@item.Description</td>
                                <td>@item.RegistrationDate</td>
                                <td>@item.OwnerName</td>
                                <td>@item.OwnerIdentityNumber</td>
                                <td>@item.NatisLocation</td>
                            </tr>
                        </tbody>
                        }
                </table>
            </div>
            }


        </div>

        <div id="Operations" class="tab-pane fade in">
            <h3>Natis In Call Centre</h3><br /><br />
            @if (Model.OperationsViewModel != null)
            {
            <div class="table-responsive table table-striped">
                <table id="OperationsTable" class="table">
                    <thead>
                        <tr>
                            <th>VIN Number</th>
                            <th>Registration Number</th>
                            <th>Engine Number</th>
                            <th>Car Make</th>
                            <th>Series Number</th>
                            <th>Description</th>
                            <th>Registration Date</th>
                            <th>Owner name</th>
                            <th>Owner ID</th>
                            <th>Natis Location</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.OperationsViewModel)
                        {
                        <tbody>
                            <tr>
                                <td>@item.VinNumber</td>
                                <td>@item.RegistrationNumber</td>
                                <td>@item.EngineNumber</td>
                                <td>@item.CarMake</td>
                                <td>@item.SeriesNumber</td>
                                <td>@item.Description</td>
                                <td>@item.RegistrationDate</td>
                                <td>@item.OwnerName</td>
                                <td>@item.OwnerIdentityNumber</td>
                                <td>@item.NatisLocation</td>
                            </tr>
                        </tbody>
                        }
                </table>
            </div>
            }


        </div>

        <div id="Driver" class="tab-pane fade in">
            <h3>Natis In Call Centre</h3><br /><br />
            @if (Model.DriverViewModel != null)
            {
            <div class="table-responsive table table-striped">
                <table id="DriverTable" class="table">
                    <thead>
                        <tr>
                            <th>VIN Number</th>
                            <th>Registration Number</th>
                            <th>Engine Number</th>
                            <th>Car Make</th>
                            <th>Series Number</th>
                            <th>Description</th>
                            <th>Registration Date</th>
                            <th>Owner name</th>
                            <th>Owner ID</th>
                            <th>Natis Location</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.DriverViewModel)
                        {
                        <tbody>
                            <tr>
                                <td>@item.VinNumber</td>
                                <td>@item.RegistrationNumber</td>
                                <td>@item.EngineNumber</td>
                                <td>@item.CarMake</td>
                                <td>@item.SeriesNumber</td>
                                <td>@item.Description</td>
                                <td>@item.RegistrationDate</td>
                                <td>@item.OwnerName</td>
                                <td>@item.OwnerIdentityNumber</td>
                                <td>@item.NatisLocation</td>
                            </tr>
                        </tbody>
                        }
                </table>
            </div>
            }


        </div>

        <div id="Remarketing" class="tab-pane fade in">
            <h3>Natis In Call Centre</h3><br /><br />
            @if (Model.RemarketingViewModel != null)
            {
            <div class="table-responsive table table-striped">
                <table id="RemarketingTable" class="table">
                    <thead>
                        <tr>
                            <th>VIN Number</th>
                            <th>Registration Number</th>
                            <th>Engine Number</th>
                            <th>Car Make</th>
                            <th>Series Number</th>
                            <th>Description</th>
                            <th>Registration Date</th>
                            <th>Owner name</th>
                            <th>Owner ID</th>
                            <th>Natis Location</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.RemarketingViewModel)
                        {
                        <tbody>
                            <tr>
                                <td>@item.VinNumber</td>
                                <td>@item.RegistrationNumber</td>
                                <td>@item.EngineNumber</td>
                                <td>@item.CarMake</td>
                                <td>@item.SeriesNumber</td>
                                <td>@item.Description</td>
                                <td>@item.RegistrationDate</td>
                                <td>@item.OwnerName</td>
                                <td>@item.OwnerIdentityNumber</td>
                                <td>@item.NatisLocation</td>
                            </tr>
                        </tbody>
                        }
                </table>
            </div>
            }


        </div>

        <div id="Origination" class="tab-pane fade in">
            <h3>Natis In Call Centre</h3><br /><br />
            @if (Model.OriginationViewModel != null)
            {
            <div class="table-responsive table table-striped">
                <table id="OriginationTable" class="table">
                    <thead>
                        <tr>
                            <th>VIN Number</th>
                            <th>Registration Number</th>
                            <th>Engine Number</th>
                            <th>Car Make</th>
                            <th>Series Number</th>
                            <th>Description</th>
                            <th>Registration Date</th>
                            <th>Owner name</th>
                            <th>Owner ID</th>
                            <th>Natis Location</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.OriginationViewModel)
                        {
                        <tbody>
                            <tr>
                                <td>@item.VinNumber</td>
                                <td>@item.RegistrationNumber</td>
                                <td>@item.EngineNumber</td>
                                <td>@item.CarMake</td>
                                <td>@item.SeriesNumber</td>
                                <td>@item.Description</td>
                                <td>@item.RegistrationDate</td>
                                <td>@item.OwnerName</td>
                                <td>@item.OwnerIdentityNumber</td>
                                <td>@item.NatisLocation</td>
                            </tr>
                        </tbody>
                        }
                </table>
            </div>
            }


        </div>

        <div id="SendToCustomer" class="tab-pane fade in">

            @using (Html.BeginForm("UserView", "Users", FormMethod.Post))
            {
            <fieldset>

                <div class="form-group">
                    @Html.LabelFor(a => a.viewModel.contractNo, "Contract Number", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(a => a.viewModel.contractNo)
                    </div>
                </div>

                <div class="form-group">

                    @Html.LabelFor(a => a.viewModel.deliveryChoice, "Delivery Choice", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">

                        @Html.DropDownListFor(a => a.viewModel.deliveryChoice, new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="Courier Company", Value = "Courier"},
                                            new SelectListItem { Text="Physical Driver", Value = "Driver"},
                                        }, "---Select one---", new { onchange = "this.form.submit()" })


                    </div>
                </div>
                <br /><br />

                @if (Model.viewModel != null)
                    {
                        if (Model.viewModel.deliveryChoice != null && Model.viewModel.deliveryChoice.Equals("Courier"))
                        {
                    <div class="form-group">
                        @Html.LabelFor(a => a.viewModel.PackageNumber, "Waybill Number", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(a => a.viewModel.PackageNumber)
                        </div>
                    </div>
                        }
                    <br /><br />
                    }

                    else if (Model.viewModel != null)
                    {
                        if(Model.viewModel.deliveryChoice != null && Model.viewModel.deliveryChoice.Equals("Driver"))
                        {
                    <div class="form-group">
                        @Html.LabelFor(a => a.viewModel.DriversName, "Driver Details", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(a => a.viewModel.DriversName)
                        </div>
                    </div>
                    <br /><br />

                    <div class="form-group">
                        @Html.LabelFor(a => a.viewModel.DriverContacts, "Driver Contacts", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(a => a.viewModel.DriverContacts)
                        </div>
                    </div>
                        }
                    <br /><br />
                    }

                <div class="form-group">
                    @Html.LabelFor(a => a.viewModel.Recipient_Name, "Recipient Name", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(a => a.viewModel.Recipient_Name)
                    </div>
                </div>
                <br /><br />

                <div class="form-group">
                    @Html.LabelFor(a => a.viewModel.Recipient_Contacts, "Recipient Contacts", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(a => a.viewModel.Recipient_Contacts)
                    </div>
                </div>
                <br /><br />



                <div class="form-group">
                    @Html.LabelFor(a => a.viewModel.Comment, "Comment", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(a => a.viewModel.Comment)
                    </div>
                </div>

                <br /><br />
                <button class="btn btn-large btn-primary" type="submit">Send</button>

            </fieldset>


            }


        </div>

        <div id="SendToDriver" class="tab-pane fade in">
            @using (Html.BeginForm("UserView", "Users", FormMethod.Post))
            {
                if (Model.DriverView != null)
                {
                    @Html.HiddenFor(a => a.DriverView.ContractNumber)
                    <fieldset>
                        <br /><br />
                        <div class="form-group">
                            @Html.LabelFor(a => a.DriverView.Quantity, "Item Quantity", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(a => a.DriverView.Quantity, new SelectList(Model.DriverView.QuantityList, ""), "Select", new { @id = "Quantity" })
                            </div>
                        </div>
                        <br />

                        <div class="form-group">
                            @Html.LabelFor(a => a.DriverView.Comment, "Comment", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(a => a.DriverView.Comment)
                            </div>
                        </div>

                        <button class="btn btn-large btn-primary" id="btnSubmit" type="submit">Send</button>
                    </fieldset>
                }
            }
        </div>

        <div id="ReceiveNatis" class="tab-pane fade in">
            @using (Html.BeginForm("UserView", "Users", FormMethod.Post))
            {
                <fieldset>
                    <div class="table-responsive table table-striped">

                        <br /><br />
                        @if (Model._DriverPackage != null)
                        {
                            <table class="table-responsive">
                                <thead>
                                    <tr>
                                        <th>Sent By</th>
                                        <th>Sent Date</th>
                                        <th>Item Quantity</th>
                                        <th>Contract Numbers</th>
                                        <th>Accept</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model._DriverPackage.PackageItems.Count; i++)
                                    {
                                        var delivery = Model._DriverPackage.PackageItems[i];
                                        <tr>
                                            <td>@delivery.SentBy</td>
                                            <td>@delivery.SentDate</td>
                                            <td>@delivery.ItemQuantity</td>
                                            <td>
                                                @for (int j = 0; j < Model._DriverPackage.PackageItems[i].ContractNumbers.Count; j++)
                                                {
                                                    if (Model._DriverPackage.PackageItems[i].ContractNumbers[j].IsReceived)
                                                    {
                                                        @Html.HiddenFor(a => Model._DriverPackage.PackageItems[i].DriverId)
                                                        <div class="checkbox">
                                                            @Html.CheckBoxFor(a => Model._DriverPackage.PackageItems[i].ContractNumbers[j].IsReceived)
                                                            @Model._DriverPackage.PackageItems[i].ContractNumbers[j].ContractNumber<br />
                                                            @Html.HiddenFor(a => Model._DriverPackage.PackageItems[i].ContractNumbers[j].ContractNumber)
                                                            @Html.HiddenFor(a => Model._DriverPackage.PackageItems[i].ContractNumbers[j].DriverId)
                                                        </div>
                                                    }

                                                }
                                            </td>

                                            <td>
                                                @Html.DropDownListFor(a => a._DriverPackage.PackageItems[i].Confirmation, new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text="Reply", Value = "Transit"},
                                                    new SelectListItem { Text="Accept", Value = "Accepted"},
                                                    new SelectListItem { Text="Deny", Value = "Denied"},
                                                })

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        }

                        <div class="checkbox">
                            @Html.CheckBoxFor(a => Model._DriverPackage.IsConfirmed)
                            @Html.HiddenFor(a => Model._DriverPackage.IsConfirmed)
                            @Html.HiddenFor(a => Model._DriverPackage.PackageId)

                            <p>I confirm that I have received the above checked natis documents</p>
                        </div>

                    </div>

                    @*<label class="checkbox">
                            <input type="checkbox" value=""> Remember me
                        </label>*@

                    <button class="btn btn-large btn-primary" type="submit">Send</button>
                </fieldset>
            }
        </div>

    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
            $(function () {
                $("#btnSubmit").click(function () {

                    var contracts = "";
                    var q = $("#Quantity").val();
                    for (var i = 1; i <= q; i++) {
                        debugger;
                        var con = prompt("Please enter Proposal Number " + i + " of " + q, "");
                        var length = con.length;
                        var IsNotNumber = isNaN(con);

                        //while invalid entry
                        while (length < 6 || IsNotNumber) {
                            alert("Proposal Number "+i+" of "+q+" is Incorrect, Please try again");
                            con = prompt("Please enter Proposal Number " + i + " of " + q, "");
                            length = con.length;
                            IsNotNumber = isNaN(con);
                        }
                        contracts = contracts + con + " ";
                    }

                    $("#@Html.IdFor(model => model.DriverView.ContractNumber)").val(contracts);

                });
            });
    </script>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#searchTable').DataTable();
            $('#RequestsTable').DataTable();
            $('#MaturitiesTable').DataTable();
            $('#LegalTable').DataTable();
            $('#CallCentreTable').DataTable();
            $('#LicensingTable').DataTable();
            $('#OperationsTable').DataTable();
            $('#DriverTable').DataTable();
            $('#RemarketingTable').DataTable();
            $('#OriginationTable').DataTable();
        });

    </script>

</body>

</html>