<!DOCTYPE html>
@model NatisTracker.ViewModels.EmployeeDataViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Sign In";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sign in &middot; FindMy Natis Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/Content/util.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
</head>

<body>
    <div class="limiter" @*style="border-style:dashed;border-width:2px;border-color:red"*@>
        <div class="container-login100" @*style="border-style:dashed;border-width:2px;border-color:red"*@>
            <div class="wrap-login100" style="background-color:#b2b2b2">

                <div class="login100-form-title" style="background-image: url(../../img/Login7.jpg)">
                    <span class="login100-form-title-1">
                        Sign In
                    </span>
                </div>

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100" for="MyTextbox">Username</span>
                        @Html.TextBoxFor(a => a.UserName, new { @placeholder = "Enter Username", @class = "input100" })
                        <span class="focus-input100"></span>
                        @Html.ValidationMessageFor(a => a.UserName)

                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        @Html.PasswordFor(a => a.Password, new { @placeholder = "Enter Password", @class = "input100" })
                        <span class="focus-input100"></span>
                        @Html.ValidationMessageFor(a => a.Password)
                    </div>

                    @ViewBag.Message
                    <br />
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                            <br />
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" type="submit">SIGN IN</button>
                            </div>

                }

            </div>
        </div>
    </div>
</body>
</html>
